# ── Patient Service DB ────────────────────────────────────────────────────────
PATIENT_SERVICE_DB_USER=admin_user
PATIENT_SERVICE_DB_PASSWORD=password
PATIENT_SERVICE_DB_NAME=db

# ── gRPC Service ────────────────────────────────────────────────────────
BILLING_SERVICE_ADDRESS=billing-service

